# Python bytecode files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
.venv/
ENV/

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Operating system files
.DS_Store
Thumbs.db

# Dependency and lock files
*.egg
*.egg-info/
dist/
build/
*.whl
*.gz
*.tar

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# Flask specific
instance/
.webassets-cache/

# Test and coverage reports
*.coverage
*.coveragerc
nosetests.xml
coverage.xml
*.hypothesis/
.coverage/
.pytest_cache/

# Pytest
.cache/
