<!-- Stock Overview Grid -->
<div class="grid grid-cols-1 md:grid-cols-2 gap-1 mb-4"> <!-- Reduced gap from 8 to 4 -->
    {% for category, details in data.items() if category != 'Company Details' %}
    <div class="bg-gradient-to-bl from-gray-100 to-gray-300 p-4 rounded-xl shadow-xl hover:shadow-2xl transition-shadow duration-500 ease-in-out">
         <h3 class="text-2xl font-bold text-blue-800 mb-4 shadow-md" style="text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); background-color: #e6f7ff; padding: 10px; border-radius: 8px;">{{ category }}</h3>
        <table class="w-full text-gray-600 table-bordered">
            <tbody>
                {% for key, value in details.items() %}
                <tr class="hover:bg-gray-50 transition-all duration-500 ease-in-out">
                    <td class="py-1 px-1 bg-white shadow rounded-l-xl font-semibold text-gray-800 text-md">{{ key }}:</td> <!-- Reduced horizontal padding -->
                    <td class="py-1 px-1 bg-white shadow rounded-r-xl text-gray-700 text-md">{{ value }}</td> <!-- Reduced horizontal padding -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>

<style>
.table-bordered {
    border-left: 8px solid #007BFF;
    border-right: 8px solid #007BFF;
}
</style>