{% extends "base.html" %}

{% block content %}
<div class="container mx-auto p-1">
    <!-- Navigation & Search -->
    <div class="flex flex-col md:flex-row justify-between items-center mb-6">
        <h1 class="text-3xl font-extrabold text-white text-center md:text-left tracking-tight">
            Klick Stock Insights
        </h1>
        {% include "forms/_search_form.html" %}
    </div>

    {% if data %}
    <div
        class="bg-white bg-opacity-5 p-6 rounded-xl border border-blue-400 shadow-lg transition-shadow duration-400 hover:shadow-[0_15px_40px_rgba(59,130,246,0.3)]"
        style="backdrop-filter: none;"
    >
        <!-- Company Overview -->
        <div class="mb-10 pb-2">
            <h2
                class="text-4xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-cyan-400 leading-tight tracking-tight"
                style="letter-spacing: 0.02em;"
            >
                {{ data['Company Details']['longName'] }}
            </h2>
            <div
                class="mt-5 p-6 rounded-lg shadow-md transition-shadow duration-300 ease-in-out hover:shadow-xl bg-white/20 border border-white/30"
                style="backdrop-filter: saturate(160%);"
            >
                <p class="text-white text-lg mb-2">
                    Sector: <span class="font-semibold text-cyan-300">{{ data['Company Details']['sector'] }}</span>
                </p>
                <p class="text-white text-lg">
                    Industry: <span class="font-semibold text-cyan-300">{{ data['Company Details']['industry'] }}</span>
                </p>
            </div>


            {% include "summary.html" %}
            {% include "buttons/data_sub_website_button.html" %}
        </div>

        <!-- {% include "data_sub_grid.html" %} -->
    </div>
    {% else %}
        <p class="text-blue-400 text-center mt-4 italic tracking-wide">
            No stock data available. Try searching for a stock symbol.
        </p>
    {% endif %}
</div>
{% endblock %}
